{% extends "base.html" %}
{% block title %}Вхід{% endblock %}
{% block content %}
<div class="container mt-5">
    {% for field, errors in form.errors.items() %}
    <div class="alert alert-danger">
        {{ field }}: {{ errors[0] }}
    </div>
    {% endfor %}

    <h2>Вхід</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">{{ form.email.label }} {{ form.email(class="form-control") }}</div>
        <div class="mb-3">{{ form.password.label }} {{ form.password(class="form-control") }}</div>
        <div class="mb-3">{{ form.remember }} {{ form.remember.label }}</div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}