{% extends "base.html" %}

{% block content %}
    <h1>Контакти</h1>
    <p>Ви можете зв'язатися зі мною через цю форму.</p>

    <form>
        <div class="mb-3">
            <label for="name" class="form-label">Ваше ім'я</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Ваш Email</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Повідомлення</label>
            <textarea class="form-control" id="message" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Відправити</button>
    </form>
{% endblock %}